/** @format */

.textField {
  border: solid;
  padding: 0, 1px;
  height: fit-content;
  border-color: grey;
}
@media (min-width: 576px) {
  .nav-internal-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
